.cars{
    background-color: white;
    padding: 20px;
    text-align: center;
}
.Fruits{
    background-color: white;
    padding: 20px;
    text-align: center;
}
.schools{
    background-color: white;
    padding: 20px;
    text-align: center;
}
.religion{
    background-color: white;
    padding: 20px;
    text-align: center;
}